<% if model.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= pluralize(model.errors.count, "件") %>のエラーが発生しています。
    </div>
    <ul>
    <% model.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
